
body{
    font-family:'Noto Sans TC',sans-serif;
}
p.redred{
    color:rgb(45, 24, 37);
    background-color: black rgb(138,43,226,0.5);
    background-image: url(../assets/img/_\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px dashed bisque;
    border-color: palevioletred;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:0.8px;
    line-height:1.5em;
}

.blueblue{
    color:#f8c6e4;
}

.expedu_icon{
    color: rgb(238, 53, 127);
}

.expedu_icon:hover{
    background-color: rgb(246, 141, 251);
    color: rgb(241, 230, 237);
}

/*p#redred{
    color: red;
    border: 10px solid;
    background-color: black;
    background-image: url(../assets/img/_ (2).jpeg);
    backgroundrepeat: no-repeat;
    background-size: cover;
    border-colors: : blue;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:0.8px;
    line-height:1.5em;
}*/

.bg-primary{
    background-color: rgb(221, 106, 125) !important;
    background-image: url(../assets/img/_\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}