
body{
    font-family:'Noto Sans TC',sans-serif;
}

.social-icons {
    color: rgb(135, 146, 176); /* 原始顏色 */
}

.social-icons:hover {
    color: #ff0000; /* 點擊時的新顏色 */
}


.subheading a {
    color: rgb(13, 81, 105); /* 更改信箱部分的顏色為藍色 */
}


.redred {
    padding: 50px 150px ;
    margin: 100px 100px 100px 100px;
    color: rgb(47, 78, 129);
    background-color: rgba(195, 209, 238, 0.5); /* 背景色透明度設定需要放在 RGBA 中 */
    background-image: url("../assets/img/Aura\ morada.jpeg"); /* 背景圖片路徑需要使用雙引號，並且空格不需要跳脫符號 */
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid rgb(196, 238, 255);
    border-radius: 30px;
    border-color: rgb(56, 92, 155);
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}




.pinkpink{
    color: rgb(43, 43, 141);
    
}

#blueblue {
    background-image: url("../assets/img/blackcrowstudios_com.jpeg");
    background-repeat: no-repeat;
    background-size: 1700px 400px; /* 調整背景圖片大小為元素寬度的1.5倍和高度的一半 */
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin-right: 10px; /* 調整圖片右邊的外邊距，以創建分隔空間 */
}

#blueblue img {
    margin-top: 50px; /* 調整圖片上方的外邊距，以創建底部邊距 */
    vertical-align: top; /* 調整文字的垂直對齊方式為底部 */
}

.Protfolios-icons{
    color: rgb(186, 192, 224);
    font-size: 50px; /* 设置图标的大小 */
    margin-right: 10px; /* 设置图标之间的右侧间距 */
}




.expedu_icon{
    color: rgb(186, 192, 224);
}

.expedu_icon:hover{
    background-color: rgb(53, 150, 202);
    color: rgb(139, 161, 221);
}

/*p#redred{
    color: red;
    border: 10px solid;
    background-color: black;
    background-image: url(../assets/img/_ (2).jpeg);
    backgroundrepeat: no-repeat;
    background-size: cover;
    border-colors: : blue;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:0.8px;
    line-height:1.5em;
}*/

.bg-primary{
    background-color: rgb(55, 95, 196) !important;
    background-image: url(../assets/img/Aura\ morada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


table.cynthiatable{
    width:78%;
    background-color: #6372d6;
    border-collapse:initial;
    margin-left: 150px; 
}

table.cynthiatable th{
    text-align: center;
    background-color: rgb(15, 64, 161);
    color: rgb(112, 187, 216);
    border:10px solid #e9eff3; 
}

table.cynthiatable th{
    text-align: center;
}

table.cynthiatable td{
    text-align: center;
    border:10px solid #e9eef3; 
}

table.cynthiatable tr:nth-child(even){
    background-color: rgb(161, 160, 221);
    color: rgb(0, 60, 128);
}

table.cynthiatable tr:nth-child(odd){
    background-color: rgb(192, 217, 255);
}

ul.cynthialist {
    list-style-type: lower-roman;
}

ol.cynthialist {
    list-style-type: lower-roman;
    ;
}

ul.cynthialist>li:hover,
ol.cynthialist>li:hover {
    background-color: #c9c6f8;
    width:78%;
}
