
body {
    background-image: url("../assets/img/1234.jpg"); /* 设置背景图片的 URL */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    background-size: 100vw 101vh; /* 让背景图片覆盖整个页面 */
    background-color: #D9D9D9
}


body{
    font-family:'Noto Sans TC',sans-serif;
}

.social-icons {
    color: rgb(135, 146, 176); /* 原始顏色 */
}

.social-icons:hover {
    color: #ff0000; /* 點擊時的新顏色 */
}


.subheading a {
    color: rgb(13, 81, 105); /* 更改信箱部分的顏色為藍色 */
}



.redred {
    padding: 50px 150px ;
    margin: 100px 100px 100px 100px;
    color: rgb(47, 78, 129);
    background-color: rgba(195, 209, 238, 0.5); /* 背景色透明度設定需要放在 RGBA 中 */
    background-image: url("../assets/img/Aura\ morada.jpeg"); /* 背景圖片路徑需要使用雙引號，並且空格不需要跳脫符號 */
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid rgb(196, 238, 255);
    border-radius: 30px;
    border-color: rgb(56, 92, 155);
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}




.pinkpink{
    color: rgb(13, 81, 105);
}

#blueblue {
    position: relative; /* 將容器設置為相對定位 */
    color: rgb(47, 78, 129); /* 設置文字顏色 */
    border-radius: 50px; /* 圓角邊框 */
    background-color: rgba(184, 209, 231, 0.221); /* 背景顏色 */
    background-repeat: no-repeat; /* 背景不重複 */
    background-size: 200px 50px; /* 背景大小 */
    font-size: larger; /* 設置字體大小 */
    font-family: 'Courier New', Courier, monospace; /* 設置字體 */
    letter-spacing: 0.8px; /* 字母間距 */
    line-height: 5em; /* 行高 */
    margin-left: 10px; /* 左邊距 */
    padding: 0px 200px; /* 內邊距 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* 添加陰影效果 */
}

#blueblue img {
    position: relative; /* 設置圖片的定位方式為相對定位 */
    bottom: 0px; /* 設置圖片與容器頂部的距離 */
    left: 0px; /* 設置圖片與容器左側的距離 */
    width: 200px; /* 設置圖片寬度 */
    height: 200px; /* 設置圖片高度 */
    border-radius: 50px; /* 設置圖片的圓角 */
}

#blueblue .content {
    padding-left: 250px; /* 調整文本內容的內邊距，以避免與圖片重疊 */
}







#blueblue img {
    margin-top: 50px; /* 調整圖片上方的外邊距，以創建底部邊距 */
    margin-right: 50px;
    vertical-align: top; /* 調整文字的垂直對齊方式為底部 */
}

.Protfolios-icons{
    color: rgb(186, 192, 224);
    font-size: 50px; /* 设置图标的大小 */
    margin-right: 10px; /* 设置图标之间的右侧间距 */
}




.expedu_icon{
    color: rgb(186, 192, 224);
}

.expedu_icon:hover{
    background-color: rgb(53, 150, 202);
    color: rgb(139, 161, 221);
}



.bg-primary{
    background-color: rgb(55, 95, 196) !important;
    background-image: url(../assets/img/Aura\ morada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


table.cynthiatable{
    width:78%;
    background-color: #6372d6;
    border-collapse:initial;
    margin-left: 150px; 
}

table.cynthiatable th{
    text-align: center;
    background-color: rgb(15, 64, 161);
    color: rgb(112, 187, 216);
    border:10px solid #e9eff3; 
}

table.cynthiatable th{
    text-align: center;
}

table.cynthiatable td{
    text-align: center;
    border:10px solid #e9eef3; 
}

table.cynthiatable tr:nth-child(even){
    background-color: rgb(161, 160, 221);
    color: rgb(0, 60, 128);
}

table.cynthiatable tr:nth-child(odd){
    background-color: rgb(192, 217, 255);
}

ul.cynthialist {
    list-style-type: lower-roman;
}

ol.cynthialist {
    list-style-type: lower-roman;
    ;
}

ul.cynthialist>li:hover,
ol.cynthialist>li:hover {
    background-color: #c9c6f8;
    width:78%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-group {
    margin-bottom: 20px;
}